{% extends "base.html" %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
  <h1>Înregistrează-te acum!</h1>
  <script src="{% static "https://www.google.com/recaptcha/api.js" async defer %}">

  </script>
  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="g-recaptcha" data-sitekey="6Lcxd1sbAAAAAP10j_V4mcBzZaGAHoZyfbcnlmTu"></div>
    <input type="submit" class="btn btn-primary" value="Înregistrează-te!">
  </form>

</div>

{% endblock  %}
