{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Svetlana Cârstean{% endblock title %}

{% block content %}

<h1 class="part-writer">Svetlana Cârstean</h1> &nbsp;
<div class="image-container">
  <img src="{% static 'writers/rsz_carstean.jpg' %}" alt="Svetlana Carstean" class="detail-photo">
</div>

<br><br>

<div class="jumbotron jumbotron-fluid">
  <h1 class="display-5">Despre</h1>
  <p class="lead"> <strong>SVETLANA CÂRSTEAN</strong> s-a născut pe 19 februarie 1969, în Botoșani. A absolvit Facultatea de Litere a Universităţii din Bucureşti. Este scriitoare, traducătoare și gazda  <em>Intersecțiilor de miercuri</em>. A debutat în 1994, în cadrul volumului colectiv <em>Tablou de familie</em>. A publicat de-a lungul anilor articole, interviuri și poeme în <em>Dilema</em>, <em>Observator Cultural</em>, <em>România literară</em>, <em>Adevărul literar și artistic</em>. A debutat.  Volumul de debut individual, <em>Floarea de menghină</em> (Cartea Românească, 2008), a avut parte de o primire excelentă din partea criticii românești. Poemele sale au fost traduse în germană, engleză, franceză, italiană, catalană, suedeză și cehă.</p>
  <hr class="my-4">

  <h1 class="display-5">Opere literare</h1>
    <p class="lead"><strong>Amintim unele din cele mai cunoscute opere ale scriitoarei: </strong>
    </p>

  <ul><p class="lead"><strong>Poezie:</strong></p>
    <li> Floarea de menghină, Ed. Cartea Românescă, 2008 </li>
    <li> Gravitație, Editura Trei, 2015 </li>
    <li> Trado, carte scrisă împreună cu poeta suedeză Athena Farrokhzad, Editura Nemira, 2016 </li>
    <li> Sînt alta, Editura Nemira, 2021 </li>
  </ul>

  <br></br>
  <hr class="my-4">

  <h1 class="display-5">Interviuri</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/uLilsg2aBKk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/u7tq5z7x4Fg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/QbU1-jzqcBA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <br></br>
  <hr class="my-4">

  <h1 class="display-5">Poezii</h1>
  <ul>
    <li> <em><b>Sînt alta</b> din volumul ,,Sînt alta''(Editura Nemira, 2021)</em> <br><br>

și cine sînt eu aici și cine nu sînt <br>
și ce cunosc din mine și ce nu <br>
și ce-mi scapă și ce țin în frîu <br>
și nici o oglindă nu e suficientă ca să văd tot <br>
mereu e o oglindă între mine și mine <br>
și numai ce văd fără să mă uit în oglindă <br>
sînt eu <br>
cine ești tu spune hiromi <br>
sînt fata lașilor și-a interzișilor <br>
a celor cărora orice ușă li se închide în nas <br>
a celor neprimiți în casă <br>
a celor care nu-și deschid unul altuia poarta <br>
a celor care nu vor decît un apartament într-un bloc de cărămidă <br>
o familie un buletin de oraș <br>
nu vor decît să plece dimineața la serviciu să se-ntoarcă la patru <br>
să plece iar dimineața la șapte și toată lumea din jur să spună <br>
e un om bun ne putem baza pe el <br>
a celor pe care istoria vrea să-i ascundă în camerele din spate <br>
victime colaterale <br>
să-i asasineze și să-i țină în viață <br>
drept exemplu <br>
fii disperați să aparțină lumii <br>
fii care plătesc pentru părinții lor <br>
fiii efecte ale tuturor celor de dinainte <br>
obiecte oameni fapte apusuri alimente <br>
și efecte de îmbrăcăminte <br>
sîngele lor în sistemul meu circulator <br>
sînt fiica efectului care ești tu <br>
a istoriei care te naște și te ignoră te folosește te abandonează <br>
sînt fata înapoiată lumii băiat <br>
și luată prin surprindere atunci cînd îi cresc sînii <br>
<br><br>
ce fel de poetă ești tu întreabă hiromi cui te opui <br>
începînd cu ora nouă am venit la micul dejun <br>
începînd de azi a cui sînt <br>
începînd de cînd am fost a cuiva <br>
începînd cu ora zece caii nu mai pasc <br>
începînd de azi viitorul ne aparține <br>
îmbătrînești începînd de ieri <br>
începînd din prima zi m-am întrebat <br>
tu a cui ești <br>
<br><br>
sînt fiica decretului <br>
a industriilor vechi <br>
a fostelor metode <br>
de fabricare <br>
și a risipei moderate <br>
sînt fiica aceea care vine pe furiș <br>
și face foarte mult zgomot <br>
<br><br>
sînt fata oricui vrea <br>
aparțin tuturor <br>
<br><br>
el spune <br>
piersicile astea sînt în afara curții <br>
ele nu aparțin nimănui <br>
nimănui din Shabla <br>
le putem mînca <br>
adoptă-mă ca pe-o pisică albă <br>
din mijlocul drumului <br>
fără milă <br>
și fără remușcări <br>
<br><br>
nu e minciună ceea ce sînt <br>
nu e minciună că sînt <br>
dar nici adevărul nu mai are atîta importanță ca altădată <br>
    </li>
  </ul>

  <br></br>
  <hr class="my-4">

  <h1 class="display-5">Comandă cărțiile scriitoarei: </h1>
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <a href="https://carturesti.ro/autor/svetlana_carstean">
        <img src="{% static 'writers/carturesti.jpg' %}" alt="Cărturești" class='img-comanda'>
      </a>
    </div>

    <div class="col-md-4 col-xs-12">
      <a href="https://www.elefant.ro/list/carti/filters/autor-Svetlana%2BCarstean">
        <img src="{% static 'writers/elefant.png' %}" alt="Elefant" class='img-comanda'>
      </a>
    </div>

    <div class="col-md-4 col-xs-12">
      <a href="https://nemira.ro/svetlana-carstean">
        <img src="{% static 'writers/nemira.jpg' %}" alt="Nemira" class='img-comanda'>
      </a>
    </div>

    </div>

  </div>

</div>

{% endblock content %}
