{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Dan Coman{% endblock title %}

{% block content %}

<h1 class="part-writer">Dan Coman</h1> &nbsp;
<div class="image-container">
  <img src="{% static 'writers/coman.jpg' %}" alt="Dan Coman" class="detail-photo">
</div>

<br><br>

<div class="jumbotron jumbotron-fluid">
  <h1 class="display-5">Despre</h1>
  <p class="lead"> <strong>DAN COMAN</strong> s-a născut pe 27 iulie 1975, în Gersa, județul Bistrița-Năsăud. A absolvit Facultatea de Filozofie din Cluj în anuș 1999. Este un scriitor român contemporan. Pentru volumul de debut <em>Anul cârtiței galbene</em>i se decernează Premiul Național pentru Poezie Mihai Eminescu  și Premiul pentru debut al Uniunii Scriitorilor din România. La Dan Coman există curajul de a ignora orice drum bătătorit în literatură și de a merge pe acel drum fără compromisuri.  </p>
  <hr class="my-4">

  <h1 class="display-5">Opere literare</h1>
    <p class="lead"><strong>Amintim unele din cele mai cunoscute opere ale scriitorului: </strong>
    </p>

  <ul><p class="lead"><strong>Poezie:</strong></p>
    <li> Anul cîrtiţei galbene, Timpul, 2003 </li>
    <li> Dicţionarul Mara, Cartier, 2009 </li>
    <li> Insectarul Coman, Charmides, 2017 - Premiul Radio România Cultural, Premiul Observator cultural, Premiul Cartea de poezie a anului 2017 la Gala tinerilor scriitori </li>
  </ul>

  <ul><p class="lead"><strong>Proză:</strong></p>
    <li> Parohia, Cartea Românească, 2012 </li>
    <li> Căsnicie, Polirom, 2015  </li>
    <li> aceste lucruri care nu se vor schimba niciodată, Polirom, 2019 </li>
  </ul>

  <br></br>
  <hr class="my-4">

  <h1 class="display-5">Interviuri</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/GF4CGFCBS7c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/gGWFTmpFYVU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PWp3wL7MuC4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <br></br>
  <hr class="my-4">

  <h1 class="display-5">Poezii ale scriitorului</h1>
  <li> <em><b>necunoscuta</em></b> <br><br>
   femeia de lângă mine e înaltă și foarte calmă – nu mă privește <br>
   doar îmi ascultă vuietul din cap. stă întinsă pe masă. <br>
   mâinile ei sunt ceștile din care beau vinul negru. <br>
   femeia de lângă mine nu face nimic. ea doar îmi ascultă vuietul din cap <br>
   și zâmbește. are chipul acoperit de viermi. <br>
   stă întinsă pe masă și mă privește cum alerg de la un capăt la altul al zilei. <br>
   mâinile ei cresc neîncetat și vinul se face tot mai tare tot mai negru – <br>
   restul trupului are o culoare albicioasă, fără miros. <br>
   femeia de lângă mine are pe chip jumătăți de fluturi și jumătăți de viermi. <br>
   e calmă și îmi ascultă vuietul din cap. <br>
   mâinile i-au devenit neîncăpătoare în odaia mea. <br>

  <li> <em><b>vino să vezi:</em></b> <br><br>
    capul meu e un dulăpior cu medicamente <br>
    un loc aseptic și răcoros <br>
    dreptunghiul de placaj proiectat pentru siguranță <br>
    strecoară-ți mâna și ia pastile proaspete <br>
    te vor ajuta imediat să uiți <br>
    <br><br>
    vino să vezi: <br>
    capul meu e ursulețul de pluș <br>
    moale și antialergic <br>
    poți dormi cu el în brațe,<br>
    poți să-l faci cadou unei familii cu bebeluș,<br>
    șterge-l de praf, izbește-l de perete, aruncă-l pe geam <br>
    te va aștepta nemișcat în iarba uscată <br>
    <br><br>
    vino să vezi: <br>
    capul meu e o pasăre împăiată <br>
    peștele de sticlă de pe televizor <br>
    prințesa de porțelan încuiată-n vitrină <br>
    lăudată de la mică distanță de musafiri <br>
    pușculița care așteaptă sub pat <br>
    să fie spartă în mii de bucăți <br>
    <br><br>
    vino să vezi: <br>
    capul meu e un oraș din nord <br>
    singurătatea și liniștea care lovesc mai tare ca boala <br>
    cancelaria burdușită cu profesori idioți și săraci <br>
    strada pustie, covrigăria, <br>
    aerul uscat care-ți intră ca lâna în ochi <br>
    <br> <br>
    vino să vezi: <br>
    capul meu e o superbă grădină de cafea <br>
    uitată într-o lădiță pe balcon, la mijlocul iernii <br>
    când lumina nu mai are putere iar pământul e deja înghețat <br>
    <br><br>
    grădina de cafea peste care zăpada <br>
    tremură ca un pui orb de pisică părăsit la începutul serii <br>
    lângă un gard. <br>
  </li>

  <br></br>
  <hr class="my-4">

  <h1 class="display-5">Comandă cărțiile scriitorului: </h1>
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <a href="https://www.elefant.ro/list/carti/filters/autor-Dan%2BComan">
        <img src="{% static 'writers/elefant.png' %}" alt="Elefant" class='img-comanda'>
      </a>
    </div>

    <div class="col-md-4 col-xs-12">
      <a href="https://www.polirom.ro/carti?p_p_id=z_bookDisplay_WAR_z_bookManagerportlet&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=column-1&p_p_col_count=1&_z_bookDisplay_WAR_z_bookManagerportlet_load=filterBooks&authors=2597&f=autori">
        <img src="{% static 'writers/polirom.png' %}" alt="Polirom" class='img-comanda'>
      </a>
    </div>

    <div class="col-md-4 col-xs-12">
      <a href="https://www.cartepedia.ro/autor/dan-coman-8663">
        <img src="{% static 'writers/cartepedia.jpg' %}" alt="Cartepedia" class='img-comanda'>
      </a>
    </div>

    </div>

  </div>

</div>

{% endblock content %}
