{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Radu Paraschivescu{% endblock title %}

{% block content %}

<h1 class="part-writer">Radu Paraschivescu</h1> &nbsp;
<div class="image-container">
  <img src="{% static 'writers/rsz_paraschivescu.jpg' %}" alt="Radu Paraschivescu" class="detail-photo">
</div>

<br><br>

<div class="jumbotron jumbotron-fluid">
  <h1 class="display-5">Despre</h1>
  <p class="lead"> <strong>RADU PARASCHIVESCU</strong> s-a născut pe 14 august 1960, în Bucureşti. Este un prozator traducător, jurnalist și redactor de carte român.. A absolvit Facultatea de Filologie a Universității din Bucureștisecția engleză-franceză și, apoi, a lucrat ca profesor de limba engleză, bibliotecar și documentarist. În anul 2003 s-a angajat editor la Humanitas. Din noiembrie 2008, Radu Paraschivescu vorbește la RFI România în cadrul emisiunii "După vorbă, după sport" despre sport. Din 2014 până in 2019, Radu Paraschivescu a prezentat două emisiuni la postul de televiziune Digi 24, "Dă-te la o carte" și "Pastila de limbă". În prezent, deține câte o rubrică la "Idei în dialog", "Cuvântul", "Evenimentul Zilei" și "Gazeta Sporturilor". Publică ocazional în "România literară"", "Lettre Internationale", "Dilema Veche", "Orizont", etc. În ianuarie 2020 a fost decorat cu Ordinul Meritul Cultural în grad de Cavaler, Categoria A - „Literatura”.</p>
  <hr class="my-4">

  <h1 class="display-5">Opere literare</h1>
    <p class="lead"><strong>Amintim unele din cele mai cunoscute opere ale scriitorului: </strong>
    </p>

  <ul><p class="lead"><strong>Eseuri:</strong></p>
    <li> Efemeriada, Libra, București, 2000 </li>
    <li> Balul fantomelor, RAO, București, 2000 </li>
    <li> Fanionul roșu. Campioni de vis, gesturi de coșmar, Humanitas, București, 2005 - Premiul Ioan Chirilă pentru Cea mai bună carte de sport </li>
    <li> Ghidul nesimțitului, Humanitas, București, 2006 </li>
    <li> Fluturele negru, Humanitas, București, 2010 </li>
    <li> Toamna decanei. Convorbiri cu Antoaneta Ralian, Humanitas, București, 2011 </li>
    <li> Astăzi este mâinele de care te-ai temut ieri, Humanitas, București, 2012</li>
    <li> Noi vorbim, nu gândim. Nouă colecţie de perle româneşti, Humanitas, București, 2015 </li>
    <li> România în 7 gesturi , Humanitas, București, 2015 </li>
    <li> Două mături stau de vorbă. Scene românești, Humanitas, București, 2018 </li>
    <li> Recviem vesel pentru tata, Humanitas, București, 2020 </li>
  </ul>

  <br></br>
  <hr class="my-4">

  <h1 class="display-5">Interviuri</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/cSOrXMBQ6FY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/HunRdk1CJXQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/v3GBs_rlCXI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <br></br>
  <hr class="my-4">

  <h1 class="display-5">Citate</h1>
  <ul>
    <li> “Românul, zice-se, s-a născut poet. Fals şi uz de fals. Românul s-a născut umorist, dar de multe ori n-a ştiut.”  </li>
    <li> “Cred că problema principală e să-mi scot din minte publicul cărţii, să scriu fără să mă gândesc la oamenii care mă vor citi, să fiu atent doar la povestea în sine, fără să anticipez reacţii, fie ele bune sau rele.” - interviu</li>
    <li> “Azvârlitul pe fereastră a devenit un sport naţional care ameninţă să devanseze celelalte discipline în care românul excelează de ani buni: aflatul în treaba, datul cu părerea, grija pentru capra vecinului şi bârfa neostoită.” - Ghidul nesimţitului </li>
    <li> “Cum gândesc politicienii? De multe ori, aşa cum vorbesc. Adică şleampăt, confuz, îngălat. Iar dacă vorbirea reflectă procesele mintale, situaţia bate spre dramatic. Or fi ei aleşi, dar vorbirea lor e foarte rar aleasă.” - Cum gândesc politicienii</li>
    <li> “Uneori kitsch-ul şi coşmarul au aceeaşi compoziţie şi folosesc aceleaşi ingrediente. Spun asta din cauză că mă surprind uneori în captivitatea unui junghi distopic. Ce-ar fi, mă întreb în clipele acelea de disconfort intens, dacă lumea mea ar fi populată, de dimineaţă şi până noaptea, doar de Maria Grapini, Fuego, Tony Poptămaş şi Dan Puric? Cum aş putea supravieţui într-o asemenea companie? Şi, mai ales, cum aş evita smintirea?” -  Noi vorbim, nu gândim </li>
    <li> “O divă adevărată ştie să împrăştie o undă de mister odată cu parfumul.” - Două mături stau de vorbă. Scene româneşti</li>
    <li> “Dacă punctualitatea este politeţea regilor, cum a spus Ludovic XVIII, atunci politeţea este felul în care îi preţuieşti şi pe cei cărora li te adresezi, şi pe tine însuţi.” - Două mături stau de vorbă. Scene româneşti </li>
  </ul>

  <br></br>
  <hr class="my-4">

  <h1 class="display-5">Comandă cărțiile scriitorului: </h1>
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <a href="https://humanitas.ro/autori/radu-paraschivescu">
        <img src="{% static 'writers/humanitas.jpg' %}" alt="Humanitas" class='img-comanda'>
      </a>
    </div>

    <div class="col-md-4 col-xs-12">
      <a href="https://www.elefant.ro/list/carti/filters/autor-Radu%2BParaschivescu#__sMTY2MjI0Nw">
        <img src="{% static 'writers/elefant.png' %}" alt="Elefant" class='img-comanda'>
      </a>
    </div>

    <div class="col-md-4 col-xs-12">
      <a href="https://carturesti.ro/autor/radu_paraschivescu">
        <img src="{% static 'writers/carturesti.jpg' %}" alt="Cărturești" class='img-comanda'>
      </a>
    </div>

    </div>

  </div>

</div>

{% endblock content %}
