{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Cosmin Perța{% endblock title %}

{% block content %}

<h1 class="part-writer">Cosmin Perța</h1> &nbsp;
<div class="image-container">
  <img src="{% static 'writers/rsz_perta.jpg' %}" alt="Cosmin Perța" class="detail-photo">
</div>

<br><br>

<div class="jumbotron jumbotron-fluid">
  <h1 class="display-5">Despre</h1>
  <p class="lead"> <strong>COSMIN PERȚA</strong> s-a născut pe 5 decembrie 1982, în Vișeu de Sus, județul Maramureș. Este poet, prozator și eseist. A absolvit Facultatea de Litere din cadrul Universității Babes-Bolyai din Cluj, apoi și-a continuat studiile la Universitatea din București. Obține titlul de doctor în litere cu o teză despre fantastic în literatura est-europeană. În presa românească și cea străină există peste 200 de cronici, recenzii și referințe la opera sa.  În prezent este lector de literatură comparată la Universitatea Hyperion din București. </p>
  <hr class="my-4">

  <h1 class="display-5">Opere literare</h1>
    <p class="lead"><strong>Amintim unele din cele mai cunoscute opere ale scriitorului: </strong>
    </p>

  <ul><p class="lead"><strong>Poezie:</strong></p>
    <li> Santinela de lut, Vinea, 2005 </li>
    <li> Cântec pentru Maria, Vinea, 2007 </li>
    <li> Fără titlu, Paralela 45, 2011 </li>
    <li> Cântec de leagăn pentru generația mea, Paralela 45, 2018 </li>
  </ul>

  <ul><p class="lead"><strong>Proză:</strong></p>
    <li> Teofil şi Câinele de lemn, Herg Benet, 2012 </li>
    <li> În urmă nu mai e nimic, Polirom, 2015  </li>
    <li> Arșița, Paralela 45, 2019 </li>
  </ul>

  <br></br>
  <hr class="my-4">

  <h1 class="display-5">Interviuri</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/px2wKCNUWGM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/s23LcIdmUww" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Ev3y-zY7yPw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <br></br>
  <hr class="my-4">

  <h1 class="display-5">Poezii ale scriitorului</h1>
  <li> <em><b>Asemănare</em></b> <br><br>
Citesc o carte de poezie a unei fete căreia viața i-a luat-o înaintea poeziei. <br>
E un blocaj. Experiența îi e atât de cumplită încât cu greu mai poate transmite ceva. <br>
Orice sugestie pare o sforțare, pare nelalocul ei, oricât de discretă. <br>
Văd aici o asemănare. Mulți ani m-am străduit să exprim ceva care, <br>
pur și simplu, nu voia să iasă afară. Păream artificial și penibil, supraîncărcat. <br>
Dar ceea ce voiam să spun nu era un mesaj de înțelepciune, ci un S.O.S. <br>
și gravitatea căutată a textului era de fapt ecoul, egal în intensitate, <br>
al unei gravități nesfârșit mai simple, al neputinței care mă locuia. <br>
Mă îndepărtez cu repeziciune. <br>
În curând voi fi prea departe pentru a mă putea întoarce <br>
în timpul vieții acesteia. <br>
Și nici nu-mi mai pasă dacă dincolo e ceva. <br>
  </li>
  <br>
<li> <em><b>Flashback</em></b> <br><br>
Spasmodic, inconsistent, indecis, ezitant, nemișcat. <br>
Pornesc dintr-un loc dureros, ziua de 10 august, 2014, cu atmosfera ei sufocantă, <br>
cu aerul ei supra-încălzit într-un cartier în care duhnește continuu a ghenă. <br>
Copiii sunt plecați și tu te zbați în fața depresiei lovindu-te ritmic de ciment. <br>
Nevoia de corp care anulează nevoia de lumină. <br>
În interiorul fiecărei ratări mai există câte o mică ratare. <br>
De 30 de ani caut sensul. De multe ori mi s-a părut că l-am găsit și el m-a abandonat. <br>
Am alergat pentru tine, am slăbit pentru tine, m-am antrenat lovind cu pumnii în pereți pentru tine, <br>
am fost sincer și am blufat pentru tine. Vreau să merg la război pentru tine. <br>
M-am rugat Dumnezeului meu din nou pentru tine, am plâns și am suferit pentru tine, <br>
pentru tot ce s-a întâmplat și se va întâmpla. Vreau să merg la război pentru tine. <br>
Te prefaci liniștit, lucid, superior. Animal. E o chestie de fluide, de creier reptilian, de instinct. <br>
E noapte și am frisoane și m-am îmbrăcat și ție îți pare că eu glumesc <br>
Dar și eu am fost unde ești tu și te înțeleg foarte bine <br>
Și nu-ți vorbesc deci despre mântuire și nici măcar despre văzduh <br>
Cu atât mai puțin despre cât e de inutil să faci poezie. <br>
Mă voi risipi în răcoare, în noapte, în întuneric și voi sta nemișcat. <br>
Nici măcar un deget, o privire, o geană nu voi ridica. Voi sta nemișcat în fericirea mea. <br>
Atât de nemișcat încât nici măcar nu voi mai exista. <br>
</li>

  <br></br>
  <hr class="my-4">

  <h1 class="display-5">Comandă cărțiile scriitorului: </h1>
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <a href="https://www.elefant.ro/list/carti/filters/autor-Cosmin%2BPerta#__sMTY2MjI0Nw">
        <img src="{% static 'writers/elefant.png' %}" alt="Elefant" class='img-comanda'>
      </a>
    </div>

    <div class="col-md-4 col-xs-12">
      <a href="https://carturesti.ro/autor/cosmin_perta">
        <img src="{% static 'writers/carturesti.jpg' %}" alt="Cărturești" class='img-comanda'>
      </a>
    </div>

    <div class="col-md-4 col-xs-12">
      <a href="https://www.cartepedia.ro/autor/dan-coman-8663">
        <img src="{% static 'writers/libris.jpg' %}" alt="libris" class='img-comanda'>
      </a>
    </div>

    </div>

  </div>

</div>

{% endblock content %}
