{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Andrei Pleșu{% endblock title %}

{% block content %}

<h1 class="part-writer">Andrei Pleșu</h1> &nbsp;
<div class="image-container">
  <img src="{% static 'writers/rsz_plesu.jpg' %}" alt="Andrei Pleșu" class="detail-photo">
</div>

<br><br>

<div class="jumbotron jumbotron-fluid">
  <h1 class="display-5">Despre</h1>
  <p class="lead"> <strong>ANDREI PLEȘU</strong> s-a născut pe 23 august 1948, în Bucureşti. Este un scriitor și eseist român, estetician și istoric al artei, stilist al limbii române. A absolvit Facultatea de Arte Plastice, secția de istoria și teoria artei din Bucureşti în 1980. Doctor honoris causa al Universității „Albert Ludwig” din Freiburg (2000) și al Universității „Humboldt” din Berlin (2001). A fondat revista culturală <em>Dilema</em>. A realizat împreună cu Gabriel Liiceanu câteva emisiuni de televiziune, printre care <em>50 de minute cu Pleșu și Liiceanu</em> (2011). A fost ministrul Culturii între 28 dec. 1989 - 16 oct. 1991 și ministrul Afacerilor Externe între 29 dec. 1997 - 22 dec. 1999. Volumele, studiile și cronicile sale din presa timpului își lărgesc treptat tematica înspre domeniul moralei și al antropologiei culturale, recomandându-l imediat, prin percutanța ideilor și luxurianța stilului, drept unul dintre cei mai captivanți eseiști ai vremii.</p>
  <hr class="my-4">

  <h1 class="display-5">Opere literare</h1>
    <p class="lead"><strong>Amintim unele din cele mai cunoscute opere ale scriitorului: </strong>
    </p>

  <ul><p class="lead"><strong>Eseuri:</strong></p>
    <li> Pitoresc și melancolie: o analiză a sentimentului naturii în cultura europeană, Univers, București, 1980 </li>
    <li> Minima moralia (elemente pentru o etică a intervalului), Cartea Românească, București, 1988 </li>
    <li> Limba păsărilor, Humanitas, București, 1994 </li>
    <li> Despre îngeri, Humanitas, București, 2003 </li>
    <li> Comèdii la porțile Orientului, Humanitas, București, 2005 </li>
    <li> Despre frumusețea uitată a vieții, Humanitas, București, 2011 </li>
    <li> Parabolele lui Iisus: adevărul ca poveste, Humanitas, București, 2012 </li>
    <li> Neliniști vechi și noi, Humanitas, București, 2016 </li>
    <li> Despre inimă și alte eseuri, Humanitas, București, 2017 </li>
  </ul>

  <ul><p class="lead"><strong>Jurnale:</strong></p>
    <li> Jurnalul de la Tescani, Humanitas, București, 1993 </li>
    <li> Note, stări, zile (1968 - 2009), Humanitas, București, 2010 </li>
  </ul>

  <br></br>
  <hr class="my-4">

  <h1 class="display-5">Interviuri</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/H0V9D5nEYBE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/sU_jTA9ta5w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WP84SRFvtBw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <br></br>
  <hr class="my-4">

  <h1 class="display-5">Citate</h1>
  <ul>
    <li> “Trebuie să te depărtezi puțin de tine ca să te poți apropia de ceilalți.” - Interviu </li>
    <li> “Iubirea adevărată e fericire pe termen lung, sau nu e deloc.” -  Despre frumusețea uitată a vieții</li>
    <li> “Totul se plătește, inclusiv iluziile.” -  Despre îngeri </li>
    <li> “Nu sunt însă iubiri adevărate: sunt doar teribile probe existențiale, provocări tainice ale sorții, materie primă pentru o eventuală soluție de înțelepciune. Iubirea adevărată e fericire pe termen lung, sau nu e deloc. Așa ceva nu există? Bine. Atunci nu există iubire adevărată.” - Interviu </li>
    <li> “Literatura e un Turn Babel de hârtie; fiecare carte o treaptă, fiecare bibliotecă un etaj. Numai că literatura are o țintă mai modestă ,dar și mai dificilă: să ajungă la inima oamenilor.” - Despre îngeri </li>
    <li> “A lua în serios ceea ce toată lumea ia în gluma și a lua în glumă ceea ce toată lumea ia în serios e o tehnică tradițională de tatonare a înțelepciunii.” - Faţă către faţă. Întâlniri şi portrete</li>
    <li> “Limbajul e zborul gândului creator asupra oglindirii sale create: duh plutind peste ape sau coborând, sub chipul columbei, asupra celui dispus să-l primească. Cuvintele stau asupra lumii ca un popor de păsări care își mișcă ritmic, fără odihnă, aripile.” - Limba păsărilor </li>
  </ul>

  <br></br>
  <hr class="my-4">

  <h1 class="display-5">Comandă cărțiile scriitorului: </h1>
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <a href="https://humanitas.ro/autori/andrei-plesu">
        <img src="{% static 'writers/humanitas.jpg' %}" alt="Humanitas" class='img-comanda'>
      </a>
    </div>

    <div class="col-md-4 col-xs-12">
      <a href="https://www.elefant.ro/list/carti/filters/autor-Andrei%2BPlesu">
        <img src="{% static 'writers/elefant.png' %}" alt="Elefant" class='img-comanda'>
      </a>
    </div>

    <div class="col-md-4 col-xs-12">
      <a href="https://carturesti.ro/autor/andrei_plesu">
        <img src="{% static 'writers/carturesti.jpg' %}" alt="Cărturești" class='img-comanda'>
      </a>
    </div>

    </div>

  </div>

</div>

{% endblock content %}
