{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Radu Vancu{% endblock title %}

{% block content %}

<h1 class="part-writer">Radu Vancu</h1> &nbsp;
<div class="image-container">
  <img src="{% static 'writers/rsz_1vancu.jpg' %}" alt="Radu Vancu" class="detail-photo">
</div>

<br><br>

<div class="jumbotron jumbotron-fluid">
  <h1 class="display-5">Despre</h1>
  <p class="lead"> <strong>RADU VANCU</strong> s-a născut pe 13 iulie 1978, în Sibiu.Este poet, prozator, eseist și traducător. A absolvit Facultatea de Litere a Universităţii „Lucian Blaga“ din Sibiu. Este președinte al PEN România, membru al Grupului pentru Dialog Social. Este conferenţiar la aceeaşi facultate şi redactor la revistele <em>Transilvania</em> şi <em>Poesis internaţional</em>. Coordonează secţiunea literară a revistei <em>Timpul</em>. A publicat douăzeci de cărți, în toate genurile literare, pentru care a obținut câteva dintre cele mai importante premii naționale.
  <hr class="my-4">

  <h1 class="display-5">Opere literare</h1>
    <p class="lead"><strong>Amintim unele din cele mai cunoscute opere ale scriitorului: </strong>
    </p>

  <ul><p class="lead"><strong>Poezie:</strong></p>
    <li> Psalmi, Casa de editură Max Blecher, București, 2019 - Desemnată cartea anului în 2019 în România </li>
    <li> 4 A.M. Cantosuri domestice, Casa de editură Max Blecher, București, 2015 </li>
    <li> Frânghia înflorită, Casa de editură Max Blecher, București, 2012 </li>
  </ul>

  <ul><p class="lead"><strong>Proză:</strong></p>
    <li> Transparența, Editura Humanitas, București, 2018 </li>
  </ul>

  <ul><p class="lead"><strong>Eseuri:</strong></p>
    <li> Elegie pentru uman, Editura Humanitas, București, 2016 </li>
    <li> România vertebrată, Editura Adenium, București, 2016 </li>
  </ul>

  <ul><p class="lead"><strong>Jurnale:</strong></p>
    <li> Zodia Cancerului. Jurnal 2012-2015, Editura Humanitas, București, 2017 </li>
  </ul>

  <br></br>
  <hr class="my-4">

  <h1 class="display-5">Interviuri</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/wRkCWe0q8XI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/fD2fXhvaMZ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/g86qN5_kIzM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <br></br>
  <hr class="my-4">

  <h1 class="display-5">Citate & Poezii</h1>
  <ul>
    <li> “În artă frumusețea canibalează adevărul. Dacă un obiect e frumos, adevărul lui devine secundar - ba chiar nimeni nu-l mai chestionează” - Transparența </li>
    <li> “E la fel de adevărat că ochii care să vadă acea cantitate de adevăr sunt mult mai rari decât oamenii care pot suporta adevărul. Fiincă există oameni care suportă fără să fie în stare să-l privească.” - Transparența</li>
    <li> <em><b>Iubitul tău mortul</em></b> <br><br>

Ce-ţi spune unul din morţii tăi <br>
cei mai dragi, cel mai iubit dintre morţi, <br>
când te lasă inima să-l visezi: <br>
<br>
„Nu te speria, e teribil de simplu, <br>
tot ce ţi s-a spus în cei şapte ani <br>
de acasă e adevărat: <br>
<br>
oamenii există şi sunt buni.<br>
Sufletele există bine mersi,<br>
culcuşite în straturile cărnii <br>
<br>
ca recidivistele în paturi supraetajate, <br>
tandre şi caline homicide.<br>
Iar de răspuns ţi se va răspunde <br>
<br>
răspicat, exact când spui „înger <br>
îngerelul meu ce mi te-a dat” aerul <br>
se va crâmpoţi, smuls <br>
<br>
de peste lucruri ca ambalajul lucios <br>
de pe un cadou demult promis, <br>
şi dinăuntrul aerului va sări, <br>
<br>
cu mişcări profesionale de stripperiţă <br>
ţâşnind din tort, îngerelul. <br>
Cât o să-l priveşti gură cască, se va duce <br>
<br>
hopa suuus, după care va coborî <br>
ca un deltaplanist spre tine. Atâta doar <br>
că mai mereu, ca din nebăgare de seamă, <br>
<br>
îngerelul aterizează într-o legiune de porci <br>
şi al naibii parc-ar fi de mercur, <br>
aşa intră şi se întinde prin corpurile porceşti. <br>
<br>
N-apuci să te minunezi mult, o mână <br>
nevăzută îţi arde golăneşte doi dupaci <br>
după ureche, te întinde pe spate, <br>
<br>
cu un scalpel nevăzut îţi deschide <br>
cuşca pieptului, duce apoi <br>
degetele nevăzute pline de sânge <br>
<br>
între buzele nevăzute pline de sânge <br>
şi şuieră cu schepsis de porcar. <br>
Iar porcii se apropie cumva tandru <br>
<br>
de tine, îşi aliniază râtul <br>
pe laturile trocuţei de coaste <br>
şi, fericiţi de lături proaspete, <br>
<br>
clefăie sângele, hăpăie inima. <br>
Abia atunci, culcat pe spate, <br>
vezi panoramaţi pe cer, buluciţi ca porcii, <br>
<br>
turme de îngerei cu boticurile roşii-roşii, <br>
numai incisivi, canini şi molari, râzând la tine. <br>
Cum ziceam, să nu te sperii: aşa începe <br>
<br>
răspunsul, şi toţi îl merităm. <br>
E teribil de simplu, îngerelul râzând de după slănini <br>
o să-ţi explice cu vremea totul”. <br>

    </li>

  </ul>

  <br></br>
  <hr class="my-4">

  <h1 class="display-5">Comandă cărțiile scriitorului: </h1>
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <a href="https://humanitas.ro/autori/radu-vancu">
        <img src="{% static 'writers/humanitas.jpg' %}" alt="Humanitas" class='img-comanda'>
      </a>
    </div>

    <div class="col-md-4 col-xs-12">
      <a href="https://carturesti.ro/autor/radu_vancu">
        <img src="{% static 'writers/carturesti.jpg' %}" alt="Elefant" class='img-comanda'>
      </a>
    </div>

    <div class="col-md-4 col-xs-12">
      <a href="https://www.cartepedia.ro/autor/radu-vancu-1671">
        <img src="{% static 'writers/cartepedia.jpg' %}" alt="Elefant" class='img-comanda'>
      </a>
    </div>

    </div>

  </div>

</div>

{% endblock content %}
