<div class="container">
  <h3>{{ post.message_html|safe }}</h3>
  <div class="media-body">
<!-- -->
    <h5 class="mt-0">
      <span class="username">
        <a href="{% url 'posts:for_user' username=post.user.username %}">@{{ post.user.username }}</a>
      </span>

      <time class="time">
        la ora <a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">{{ post.created_at }}</a>
      </time>

    </h5>

    <div class="media-footer">
      {% if user.is_authenticated and post.user == user and not hide_delete %}
        <a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn btn-outline-danger">Șterge postarea</a>
      {% endif %}
    </div>
  </div>
  <br> <hr class="hr-posts">
</div>
